asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
diff-match-patch==20241021
Django==6.0.4
django-redis==7.0.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
idna==3.18
python-dotenv==1.2.2
razorpay==2.0.1
redis==8.0.1
requests==2.34.2
sqlparse==0.5.5
tablib==3.9.0
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
urllib3==2.7.0
